.services-group-img55 {
  /* background-image: url(../Photos//about-7.jpg); */
  background-image: url(../Photos/2149207999.jpg);
  width: 100%;
  height: 70%;
  background-size: cover; 
  background-repeat: no-repeat;
}