.services-group-img77 {
  /* background-image: url(../Photos/group.jpg); */
  /* background-image: url(./photos/group.jpg); */
  background-image: url(../Photos/2150038840.jpg);
  background-size: cover;
  height: 40%;
  width: 100%;
}