.source {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.hello {
  width: fit-content;
  position: relative;
  z-index: 21;
  top: -410px;
  margin-left: 9%;
}

.carousel-inner {
  position: relative;
  z-index: -1;
}

.expertise {
  width: 750px;
  font-size: 5vi;
  color: white;
  padding: 0;
}

#scroll {
  filter: brightness(50%);
}

.Our {
  color: white;
  font-size: 25px;
}

.Explore {
  background-color: rgb(223, 176, 56);
  color: rgb(255, 248, 248);
  /* letter-spacing: 2px; */
  height: 100px;
  border: none;
  border-radius: 4px;
  font-size: 1px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

  /* align-items: center; */

  /* padding: 2%; */
}


/* .hello button{
  padding-bottom: 4.5%;
} */
/* #exploreBtnId{
  padding-bottom: 4%;
} */

.animi {
  animation: fadeInRight 2s ease-in-out;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  margin-right: 100px;
}

.carousel-control-next-icon {
  margin-left: 100px;

}

@keyframes fadeInRight {
  from {
    opacity: 0;
    color: transparent;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
  }
}

.animi1 {
  animation: fadeInRight 2.5s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    color: transparent;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
  }
}
@media screen and (max-width:2560px) {
  .carousel{
    height: 1300px;
  }
  .hello {
    margin-top: 0px;
  }
  .Our {
    margin-top: 0px;
  }
  .expertise {
    font-size: 4vi;
    width: 890px;
  }

  .Explore {
    letter-spacing: 1px;
    height: 45px;
    font-size: 15px;
    padding: 2%;
  }
}
@media screen and (max-width:1550px) {
  .carousel{
    height: 700px;
  }
}
@media screen and (max-width:1440px) {
  .carousel{
    height: 650px;
  }
}

@media screen and (max-width:1024px) {
  .carousel{
    height: 700px;
  }
  .expertise {
    font-size: 40px;
    line-height: 40px;
  }

  .animi1 {
    width: 600px;
  }

  .animi {
    margin-top: 50px;
  }

  .hello {
    margin-top: 200px;
  }

  .Our {
    font-size: 18px;
  }

}

@media screen and (max-width:1100px) {
  .carousel{
    height: 462px;
  }
  .hello {
    margin-top: 110px;
  }

  .expertise {
    font-size: 24px;
    width: 250px;
  }

  .carousel-inner {
    margin-top: 110px;
  }

  .carousel-control-next-icon {
    margin-top: -190px;
    margin-right: 63px;
  }

  .carousel-control-prev-icon {
    margin-top: -190px;
  }

  .carousel-control-next-icon {
    margin-left: 70px;
  }

}

@media screen and (max-width:769px) {
  .carousel{
    height: 320px;
  }
  .hello {
    margin-top: 150px;
  }

  .expertise {
    font-size: 24px;
    width: 250px;
  }

  .Explore {
    letter-spacing: 1px;
    height: 45px;
    font-size: 15px;
    padding: 2%;
  }
}

@media screen and (min-width:427px) and (max-width: 540px) {
  .carousel{
    height: 250px;
  }
  .hello {
    margin-top: 210px;
  }
  .Our {
    font-size: 12px;
  }
  .expertise {
    font-size: 15px;
    line-height: 27px;
    
  }
  .Explore{
    height: 43px;
    font-size: 13px; 
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 623px) {
  .Our {
    margin-top: 190px;
    font-size: 13px;
  }
}
@media screen and (max-width: 426px) {
  .carousel{
    height: 500px;
  }
  .Our {
    margin-top: 280px;
    font-size: 13px;
  }

  .expertise {
    font-size: 16px;
    width: 170px;
    line-height: 20px;
    color: white;
  }

  .Explore {
    letter-spacing: 1px;
    height: 30px;
    font-size: 12px;
    padding: 1%;
  }

  .explore-carousel {
    margin-bottom: -317px;
  }
}
@media (max-width:375px) {
  .carousel{
    height: 460px;
  }
  .Our {
    margin-top: 280px;
    font-size: 13px;
  } 
}
