

.Para{
    font-size: 50px;
    color: aliceblue;
}


.right{
    width: 50%;
color:  #899FB6;

    padding-top: 20px;
     padding-left: 600px; 
     
}
.Rat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
#radioItems{
    width: 350px;
}
.rope{
   
    font-size: x-large;
    margin-left: 4%;
    color: #6b87a5;
}
.body{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
}

.quote2{
    color:#127AFF;
}
.next{
    width: 40%;
    margin-bottom: 1em;
    margin-right: 5em;
    background-color: goldenrod;
    color: white;
    /* margin-right: 550px; */
    font-weight: bold;
    border: none;
    height: 20%;
    margin-top: 5%;

}

.button06{
    line-height: 50px;
    font-size: 25px;
    border: none;
    margin-right: 5%;
    color: goldenrod;
    /* background-color: white; */
    padding-left: -20px;
    font-weight: 500;
}
.yo{
    margin-right: 1em;
    border: none;
    width: 1.2rem;
    height: 1.2rem;
    background-color: red;
}
.blackk{
  display: flex;
    
}
.ladder{
    /* margin-top: 5%;
    margin-bottom: 5%; */
    border-top: 2em solid rgb(11, 11, 11);
    border-bottom: 3rem solid rgb(12, 12, 12);
    display:flex;
    justify-content: space-around;
    background-color: rgb(9, 9, 5);
}
@media (max-width:600px){
    .rope{
        font-size: small;
    }
    .Para{
        font-size: small;
        margin-left: -10px;
    }
    .button06{
        font-size: small;
    }
    .yo{
        width: .7rem;
        height: .7rem;
    }
    .button06{
        line-height: 30px;
    }
}