
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.our-team-maindiv{
    padding: 0, 10px;
}
.our-team-heading {
    /* margin-top: 10px; */
    background-color: black;
    color: white;
    height: 110px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading-content {
    padding-top: 23px;
}
.heading-content span {
    color: goldenrod;
    /* font-size: 5rem; */
}
.ourteam-photo-cards {
    display: flex;
    background-color: rgb(248, 243, 243);
    justify-content: space-around;
    /* margin-top: 50px; */
    padding-top: 40px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.ourteam-photo {
    text-align: center;
    margin: 10px;
    flex: 1 0 calc(25% -20px);
    max-width: 250px;
    /* margin-left: -10%; */
}
.color-photo{
    height: 250px;
   
}

.ourteam-members-name {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
    /* text-align: center; */
    /* align-content: center; */
    padding-right: 24px;
}
.ourteam-members-name1{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
    
    /* text-align: center; */
    /* align-content: center; */
    /* padding-right: 20px; */
}


.ourteam-memebers-role {
 font-size: 20px;
    margin-top: 5px;
    color: #000;
    padding-right: 24px;
}
.main-ourteam-silder {
    /* height: 250px;   
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center; */
    background-color: rgb(241, 241, 243);
    /* margin-top: 50px; */
    /* border: 9px solid yellow; */
    /* border-left-width: 70px; */
    /* border-right-width: 70px;  */
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    overflow: hidden;
    /* position: relative; */
}   
.main-ourteam-silder .ourteam-photo-slider {
    display: flex;
    animation: scroll 10s linear infinite;
}
@keyframes scroll {
    from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-100%);
      }
}
:root {
    --duration: 5s;
    --duration-double: 10s;
  }
.ourteam-slider {
    height: 350px;
    height: 100%;
    white-space: nowrap;
    animation: scrollText 10s infinite linear;
    animation-iteration-count:inherit;
    margin: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    display: inline-block;
    margin: 0;
    width: fit-content;
    padding: 0;
    align-items: center;
    padding: 40px;
    perspective: 100px;
    height: 350px;
    flex: 0 0 auto;
     padding: 0 10px;
}
.ourteam-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ourteam-img:hover {
    transform: translatez(6px);
}
.main-ourteam-silder::before {
    left: 0;
    top: 0;
}
.main-ourteam-silder::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

@media screen and (max-width: 768px) {
    .our-team-heading {
        font-size: 30px;
        font-weight: 500;
        line-height: 29px;
        max-width: 100%;
    }
    .ourteam-photo {
        flex: 1 0 calc(50% - 20px); 
    }
    .ourteam-slider {
        height: 250px;
    }
    .ourteam-photo-cards {
        margin-top: 20px; 
    }
}

/* @media screen and (min-width : 768px){
    .our-team-heading {
    font-size: 30px;
    font-weight: 500;
    line-height: 29px;
    max-width: 100%;
}
.ourteam-photo {
    flex: 1 0 calc(50% - 20px); 
}
.ourteam-slider {
    height: 250px;
}
.ourteam-photo-cards {
    margin-top: 20px; 
}
} */
